/* styling the body */

body {
    margin: 0;
}

/* styling the header */

header {
    display: flex;
    justify-content: center;
    background-color: #09ACDE;
    font-family: Georgia;
}

/* styling nav div */

nav {
    background-color: #15f4ee;
    padding: 0.3cm;
}

/* styling cursor on buttons */

button:hover {
    cursor: pointer;
}

/* styling nav search bar */

#searchDiv {
    float: right;
}

#searchBar {
    border-radius: 1cm;
    border-color: #09ACDE;
}

/* styling nav buttons */

.navBtns {
    border: none;
    background-color: #15f4ee;
}

.navBtns:hover {
    color: white;
}

/* styling dark button */

#darkButton {
    border: none;
    border-radius: 1cm;
    background-color: black;
    color: white;
}

#darkButton:hover {
    color: rgb(170, 34, 170);
}

/* styling genre div and it's buttons */

#genreDiv {
    background-color: rgb(170, 34, 170);
}

.genreBtns {
    border: none;
    background-color: rgb(170, 34, 170);
}

.genreBtns:hover {
    color: white;
}

/* styling main div */

#home {
    display: flex;
    flex-wrap: wrap;
}

/* styling movie cards */

.movieCards {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.movieCards h4 {
    margin: 0;
    font-size: 20px;
}

.movieCards img {
    width: 100%;
    height: auto;
}

.movieCards button {
    margin-top: 10px;
    margin-left: 2.5cm;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #15f4ee;
}

.movieCards button:hover {
    color: white;
}

/* styling stars */

.rating {
    font-size: 20px;
}

.rating span {
    color: #ccc;
}

.rating span.filled {
    color: gold;
}

/* styling description Div parts */

#actors {
    margin-top: 0.7cm;
}

#movieInfo {
    margin-top: 0.7cm;
}

.favRemoveBtn {
    margin-top: 0.7cm;
    border: none;
    border-radius: 5px;
    background-color: #15f4ee;
}

.favRemoveBtn:hover {
    color: white;
}

#favMovies {
    display: flex;
    flex-wrap: wrap;
}